@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #ffd804;
    --green: #4e6d53;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-host-grotesk-regular), Arial, Helvetica, sans-serif;
  }

  h1 {
    font-family: var(--font-advercase-bold);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 10px;
  height: 10px;
  color: #000;
  display: flex;
  background: linear-gradient(currentColor 0 0) center/calc(100% - 30px) 50px,
    conic-gradient(
        from -136deg at right,
        #0000,
        currentColor 1deg 90deg,
        #0000 91deg
      )
      right/5px 100%,
    conic-gradient(
        from 44deg at left,
        #0000,
        currentColor 1deg 90deg,
        #0000 91deg
      )
      left / 5px 100%;
  background-repeat: no-repeat;
  animation: l8 0.5s infinite alternate;
}
.loader:before {
  content: "";
  flex: 1;
  background: inherit;
  transform: rotate(90deg);
}
@keyframes l8 {
  90%,
  100% {
    width: 20px;
  }
}
